<div id="masterslider" class="master-slider ms-skin-default mb-0">
    <!-- first slide -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slide01.jpg") alt="Strongest distribution network" />
        <img class="ms-layer" src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slider-line.jpg") alt=""
             style="left: 0; top: 310px;"
             data-type="image"
             data-effect="left(short)"
             data-duration="300"
             data-hide-effect="fade"
             data-delay="0" />
        <h2 class="ms-layer pi-caption01"
            style="left: 0; top: 340px;"
            data-type="text"
            data-effect="left(short)"
            data-duration="300"
            data-hide-effect="fade"
            data-delay="300">
            strongest
        </h2>
        <h2 class="ms-layer pi-caption01"
            style="left: 0; top: 400px;"
            data-type="text"
            data-effect="left(short)"
            data-duration="300"
            data-hide-effect="fade"
            data-delay="600">
            distribution
        </h2>
        <h2 class="ms-layer pi-caption01"
            style="left: 0; top: 460px;"
            data-type="text"
            data-effect="left(short)"
            data-duration="300"
            data-hide-effect="fade"
            data-delay="900">
            network
        </h2>
    </div><!-- .ms-slide end -->
    <!-- slide 02 start -->
    @*<div class="ms-slide">
        <!-- slide background -->
        <img src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slide02.jpg") alt="International Air freight" />
        <h2 class="ms-layer pi-caption01"
            style="left: 58px; top: 390px;"
            data-type="text"
            data-effect="top(short)"
            data-duration="300"
            data-hide-effect="fade"
            data-delay="0">
            International Air Freight
        </h2>
        <img class="ms-layer" src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slider-line.jpg") alt=""
             style="left: 540px; top: 450px;"
             data-type="image"
             data-effect="bottom(short)"
             data-duration="300"
             data-hide-effect="fade"
             data-delay="300" />
        <p class="ms-layer pi-text"
           style="left: 375px; top: 470px;"
           data-type="text"
           data-effect="top(short)"
           data-duration="300"
           data-hide-effect="fade"
           data-delay="600">
            Fast International Air Delivery
        </p>
    </div><!-- .ms-slide end -->*@
    <!-- slide 03 start -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slide03.jpg") alt="Worldwide freight services" />
        <h2 class="ms-layer pi-caption01"
            style="left: 258px; top: 390px;"
            data-type="text"
            data-effect="top(short)"
            data-duration="300"
            data-hide-effect="fade"
            data-delay="0">
            Freight services
        </h2>
        <img class="ms-layer" src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slider-line.jpg") alt=""
             style="left: 540px; top: 450px;"
             data-type="image"
             data-effect="bottom(short)"
             data-duration="300"
             data-hide-effect="fade"
             data-delay="300" />
        <p class="ms-layer pi-text"
           style="left: 278px; top: 470px;"
           data-type="text"
           data-effect="top(short)"
           data-duration="300"
           data-hide-effect="fade"
           data-delay="600">
            Road, air, train or overseas. We got it covered!
        </p>
    </div><!-- .ms-slide slide03 end -->
    <!-- slide 04 start -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slide04.jpg") alt="Worldwide freight services" />
        <h2 class="ms-layer pi-caption01"
            style="left: 388px; top: 390px;"
            data-type="text"
            data-effect="top(short)"
            data-duration="300"
            data-hide-effect="fade"
            data-delay="00">
            Trucking
        </h2>
        <img class="ms-layer" src=@Url.Content("~/Content/masterslider/blank.gif") data-src=@Url.Content("~/Content/img/slider/slider-line.jpg") alt=""
             style="left: 540px; top: 450px;"
             data-type="image"
             data-effect="bottom(short)"
             data-duration="300"
             data-hide-effect="fade"
             data-delay="300" />
        <p class="ms-layer pi-text"
           style="left: 265px; top: 470px;"
           data-type="text"
           data-effect="top(short)"
           data-duration="300"
           data-hide-effect="fade"
           data-delay="600">
            Powerful Transport & Logistics Web Solution
        </p>
    </div><!-- .ms-slide slide04 end -->
</div><!-- #masterslider end -->
<div class="page-content parallax parallax01 mb-70">
    <div class="container">
        <div class="services-negative-top">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-4 col-sm-4">
                <div class="service-feature-box">
                    <div class="service-media">
                        <img src=@Url.Content("~/Content/img/pics/img01.jpg") alt="Trucking" />
                        <a href="../jobapplications/create" class="read-more02">
                            <span>
                                Apply Now
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div><!-- .service-media end -->
                    <div class="service-body">
                        <div class="custom-heading">
                            <h4>DRIVER</h4>
                        </div><!-- .custom-heading end -->
                        <p>
                            We have a wide experience in overland
                            industry specific logistic solutions like
                            pharmaceutical logistics, retail and
                            automotive logistics by train or road.
                        </p>
                    </div><!-- .service-body end -->
                </div><!-- .service-feature-box-end -->
            </div><!-- .col-md-4 end -->
            <div class="col-md-4 col-sm-4">
                <div class="service-feature-box">
                    <div class="service-media">
                        <img src=@Url.Content("~/Content/img/pics/img02.jpg") alt="Trucking" />
                        <a href="../jobapplications/create" class="read-more02">
                            <span>
                                Apply Now
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div><!-- .service-media end -->
                    <div class="service-body">
                        <div class="custom-heading">
                            <h4>OWNER Opps</h4>
                        </div><!-- .custom-heading end -->
                        <p>
                            We bring your goods safely to worldwide
                            destinations with our great sea fright
                            services. We offer LLC and FLC shipments
                            that are fast and effective with no delays.
                        </p>
                    </div><!-- .service-body end -->
                </div><!-- .service-feature-box-end -->
            </div><!-- .col-md-4 end -->
            <div class="col-md-2 col-sm-2"></div>
            
        </div><!-- .row end -->
        
    </div><!-- .container end -->
</div><!-- .page-content end -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="custom-heading02">
                    <h2>What we Offer</h2>
                    <p>
                        TAILORED LOGISTIC SERVICES
                    </p>
                </div><!-- .custom-heading02 end -->
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
        <div class="row mb-30">
            <div class="col-md-6 col-sm-6">
                <div class="service-icon-left-boxed">
                    <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                        <img src=@Url.Content("~/Content/img/svg/pi-checklist-2.svg") alt="checklist icon" />
                    </div><!-- .icon-container end -->
                    <div class="service-details">
                        <h3>Contract logistics</h3>
                        <p>
                            Need custom logistic service? We got it
                            covered. From overland, air, rail and sea
                            transportation. Fast, safe and accurate
                            shipment provided all over the globe.
                        </p>
                    </div><!-- .service-details end -->
                </div><!-- .service-icon-left-boxed end -->
            </div><!-- .col-md-6 end -->
            <div class="col-md-6 col-sm-6">
                <div class="service-icon-left-boxed">
                    <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                        <img src=@Url.Content("~/Content/img/svg/pi-globe-5.svg") alt="globe icon" />
                    </div><!-- .icon-container end -->
                    <div class="service-details">
                        <h3>Overland, Ocean and Air Freight</h3>
                        <p>
                            Trucking company offers the best logistics
                            services using all mens of supply chain. Use
                            our overland, ocean and air freight solutions
                            for shipment of your goods.
                        </p>
                    </div><!-- .service-details end -->
                </div><!-- .service-icon-left-boxed end -->
            </div><!-- .col-md-6 end -->
        </div><!-- .row.mb-30 end -->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="service-icon-left-boxed">
                    <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                        <img src=@Url.Content("~/Content/img/svg/pi-forklift-truck-5.svg") alt="forktruck icon" />
                    </div><!-- .icon-container end -->
                    <div class="service-details">
                        <h3>Warehousing and Storage</h3>
                        <p>
                            Trucking offers intelligent warehouse solution.
                            Lower your storage and good maintenance by
                            using our modern and intelligent warehouses.
                            You can see all locations on location page.
                        </p>
                    </div><!-- .service-details end -->
                </div><!-- .service-icon-left-boxed end -->
            </div><!-- .col-md-6 end -->
            <div class="col-md-6 col-sm-6">
                <div class="service-icon-left-boxed">
                    <div class="icon-container animated triggerAnimation" data-animate="zoomIn">
                        <img src=@Url.Content("~/Content/img/svg/pi-touch-desktop.svg") alt="touch icon" />
                    </div><!-- .icon-container end -->
                    <div class="service-details">
                        <h3>Consulting Services</h3>
                        <p>
                            Don't know what mean of transportation
                            would be right for you, or you need someone
                            for full supply chain management? Please contact
                            us. Our team of professionals will be happy to help.
                        </p>
                    </div><!-- .service-details end -->
                </div><!-- .service-icon-left-boxed end -->
            </div><!-- .col-md-6 end -->
        </div><!-- .row.mb-30 end -->
    </div><!-- .container end -->
</div><!-- .page-content end -->


          
            @*<div class="col-md-4 col-sm-12 clearfix">
                <div class="custom-heading">
                    <h3>our locations</h3>
                </div><!-- .custom-heading end -->
                <img src=@Url.Content("~/Content/img/pics/locations.jpg") alt="locations illustration" />
                <br />
                <p>
                    Trucking Co. covers over 150 locations all
                    over the globe plus numerous logistic
                    partner companies from different areas of
                    supply chain.
                </p>
                <a href="locations.html" class="read-more">
                    <span>
                        View all locations
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            </div><!-- .col-md-4 end -->*@
      
<script>
            /* <![CDATA[ */
            $(document).ready(function ($) {
                'use strict';
                function equalHeight() {
                    $('.page-content.column-img-bkg *[class*="custom-col-padding"]').each(function () {
                        var maxHeight = $(this).outerHeight();
                        $('.page-content.column-img-bkg *[class*="img-bkg"]').height(maxHeight);
                    });
                };

                $(document).ready(equalHeight);
                $(window).resize(equalHeight);

                // MASTER SLIDER START
                var slider = new MasterSlider();
                slider.setup('masterslider', {
                    width: 1140, // slider standard width
                    height: 854, // slider standard height
                    space: 0,
                    speed: 50,
                    layout: "fullwidth",
                    centerControls: false,
                    loop: true,
                    autoplay: true
                            // more slider options goes here...
                            // check slider options section in documentation for more options.
                });
                // adds Arrows navigation control to the slider.
                slider.control('arrows');

                // CLIENTS CAROUSEL START
                $('#client-carousel').owlCarousel({
                    items: 6,
                    loop: true,
                    margin: 30,
                    responsiveClass: true,
                    mouseDrag: true,
                    dots: false,
                    responsive: {
                        0: {
                            items: 2,
                            nav: true,
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                            responsiveClass: true
                        },
                        600: {
                            items: 3,
                            nav: true,
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                            responsiveClass: true
                        },
                        1000: {
                            items: 6,
                            nav: true,
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                            responsiveClass: true,
                            mouseDrag: true
                        }
                    }
                });

                // TESTIMONIAL CAROUSELS START
                $('#testimonial-carousel').owlCarousel({
                    items: 1,
                    loop: true,
                    margin: 30,
                    responsiveClass: true,
                    mouseDrag: true,
                    dots: false,
                    autoheight: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: true,
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                            responsiveClass: true,
                            autoHeight: true
                        },
                        600: {
                            items: 1,
                            nav: true,
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                            responsiveClass: true,
                            autoHeight: true
                        },
                        1000: {
                            items: 1,
                            nav: true,
                            loop: true,
                            autoplay: true,
                            autoplayTimeout: 3000,
                            autoplayHoverPause: true,
                            responsiveClass: true,
                            mouseDrag: true,
                            autoHeight: true
                        }
                    }
                });
            });
            /* ]]> */
</script>